<aside class="sidebar">
  <div class="avatar">
    <img src="https://avatars.githubusercontent.com/u/101474735?s=400&u=90257df35d635a44f83b3ec5df82858a76b37f28&v=4" alt="hxngmxn avatar">
  </div>
  <div class="profile">
    <div class="nickname">hxngmxn</div>
    <div class="description">Cybersecurity posts with a focus on malware research</div>
  </div>
  <nav class="social">
    <a href="mailto:h0llywxxdnxdx@proton.me">email</a>
    <a href="https://github.com/hxngmxn-nxdx">github</a>
    <a href="https://www.linkedin.com/in/ian-thor-rigon-ribeiro-a1691a232/">linkedin</a>
  </nav>
</aside>
